.button {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  gap: 8px;
  min-height: inherit;
  border-radius: 4px;
  overflow: hidden;
  border: none;
  outline: none;
  cursor: pointer;

  &_variant {
    &_primary {
      background: var(--primary);
      color: var(--white);
      stroke: var(--white);

      &:hover {
        background: var(--light-primary);
      }

      &:active {
        background: var(--dark-primary);
      }

      &.disabled {
        background: var(--light-gray);
      }

      &.loading {
        .loader {
          background: var(--primary);
        }
      }
    }

    &_secondary {
      background: var(--ultra-light-primary);
      color: var(--primary);
      stroke: var(--primary);

      &:hover {
        background: var(--primary);
        color: var(--white);
        stroke: var(--white);
      }

      &:active {
        background: rgba($color: var(--primary), $alpha: 0.2);
        color: var(--primary);
        stroke: var(--primary);
      }

      &.disabled {
        background: var(--ultra-light-primary);

        & > * {
          opacity: 0.4;
        }
      }

      &.loading {
        .loader {
          background: var(--ultra-light-primary);
        }
      }
    }

    &_outlined {
      background: var(--white);
      color: var(--primary);
      stroke: var(--primary);
      border: 1px solid var(--primary);

      &:hover {
        background: var(--primary);
        color: var(--white);
        stroke: var(--white);
      }

      &:active {
        background: var(--ultra-light-primary);
        color: var(--primary);
        stroke: var(--primary);
      }

      &.disabled {
        opacity: 0.4;
      }

      &.loading {
        .loader {
          background: var(--white);
        }
      }
    }

    &_text {
      background: transparent;
      color: var(--primary);
      stroke: var(--primary);
      border: none;

      &:hover {
        color: var(--dark-primary);
        stroke: var(--dark-primary);
      }

      &:active {
        color: var(--primary);
        stroke: var(--primary);
      }

      &.disabled {
        color: var(--gray);
        stroke: var(--gray);
      }

      &.loading {
        .loader {
          background: transparent;
          opacity: 1;
        }

        & > * {
          opacity: 0.4;
        }
      }
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

  &_size {
    &_sm {
      height: 36px;
      padding: 0 24px;
      font-size: 14px;
      line-height: 16px;
    }

    &_md {
      height: 40px;
      padding: 0 32px;
      font-size: 14px;
      line-height: 16px;
    }

    &_lg {
      height: 56px;
      padding: 0 60px;
      font-size: 18px;
      line-height: 20px;
    }
  }

  &_icon_position {
    &_left {
      flex-direction: row;
    }

    &_right {
      flex-direction: row-reverse;
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  --transition-time: 0s;
}

.loading {
  cursor: default;

  .loader {
    opacity: 1;
    --transition-time: 0.3s;

    svg {
      animation: spin 1s linear infinite;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
