.text {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  &_variant {
    &_Heading_1 {
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 38px;
    }

    &_Heading_2 {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
    }

    &_Heading_3 {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }

    &_Heading_4 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
    }

    &_Heading_5 {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }

    &_Subtitle_M {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    &_Subtitle_S {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    &_Body_L {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    &_Body_M {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }

    &_Caption {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
