.placeholder {
  user-select: none;
  color: var(--ultra-light-gray);
  background: var(--white);
  position: absolute;
  padding: 0 3px;
  margin: 0 8px;
  top: 26%;
  transition: all 150ms ease-out;
}

.icon {
  margin: auto;
  padding: 0 19px;
}

.helperText {
  color: var(--ultra-light-gray);
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  line-height: 16px;
}

.container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 328px;
  padding: 1px;
  color: var(--black);
  border: 1px solid var(--light-gray);
  background: var(--white);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  transition: all 100ms;

  [class$='react-datepicker-wrapper'] {
    width: 100%;
    height: 100%;
  }

  [class$='react-datepicker__input-container'] {
    width: 100%;
    height: 100%;

    > input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      outline: none;
      padding: 12px 16px 12px 16px;
      font-family: 'T-Star Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
  }

  [class$='react-datepicker'] {
    border-color: none;
    background: var(--white);

    button {
      &:nth-of-type(1) {
        left: 20px;
        top: 24px;
      }

      &:nth-of-type(2) {
        right: 20px;
        top: 24px;
      }
    }
  }

  [class$='react-datepicker__month'] {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--black);
    box-sizing: border-box;
    margin: 0;
    padding: 4px 10px;
  }

  [class$='react-datepicker__header '] {
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border: none;
  }

  [class$='react-datepicker__current-month'] {
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    margin: auto;
  }

  [class$='react-datepicker__day-names'] {
    padding: 4px 10px;
  }

  [class$='react-datepicker__day-name'] {
    width: 40px;
    height: 22px;
    font-family: 'T-Star Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--ultra-light-gray);
  }

  [class$='react-datepicker__week'] {
    > div {
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      text-align: center;
      padding-top: 8px;
      border-radius: 4px;

      &:hover {
        color: var(--white);
        background: var(--light-primary);
      }
    }
  }

  [class$='react-datepicker__day--today'] {
    color: var(--white);
    background: var(--light-primary);
  }

  [class$='react-datepicker__day--selected'] {
    color: var(--white);
    background: var(--primary);
  }

  &_focus {
    border: 2px solid var(--primary);

    .placeholder {
      color: var(--primary);
    }
  }

  &_active {
    .placeholder {
      top: -10px;
      margin: 0 16px;
      > p {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &_error {
    border-color: var(--error);

    .placeholder {
      color: var(--error);
    }

    .helperText {
      color: var(--error);
    }
  }

  &_diretion {
    &_rtl {
      direction: rtl;
    }

    &_ltr {
      direction: ltr;
    }
  }

  &_size {
    &_default_L {
      height: 56px;
    }

    &_default_M {
      height: 40px;
    }
  }
}
