.helperText {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  line-height: 16px;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: 328px;
  height: 56px;
  padding: 1px;
  color: var(--black);
  border: 1px solid var(--light-gray);
  background: var(--white);
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;

  &_focus {
    border: 2px solid var(--primary);
  }

  &_error {
    border-color: var(--error);

    & .helperText {
      color: var(--error);
    }
  }

  &_diretion {
    &_rtl {
      direction: rtl;
    }

    &_ltr {
      direction: ltr;
    }
  }
}

.select {
  width: 100%;
  height: 100%;

  [class$='-control'] {
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;

    &:hover {
      border: none;
      box-shadow: none;
    }

    &:hover + .helperText {
      bottom: 10px;
    }
  }

  [class$='-placeholder'] {
    color: var(--ultra-light-gray);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  [class$='-singleValue'] {
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  [class$='-Input2'] {
    color: var(--black);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  [class$='-indicatorContainer'] {
    padding: 0 19px;
  }
}
