:root {
  --orange: #F2994A;
  --black: #10203B;
  --white: #FFFFFF;
  --gray: #515B6C;
  --error: #D82045;
  --purple: #7B61FF;
  --ultra-light-gray: #9CA4B3;
  --light-gray: #D7DBE2;
  --primary: #10A8C9;
  --dark-white: #F9F9FA;
  --light-primary: #11B7DB;
  --dark-primary: #0E97B5;
  --ultra-light-primary: #E8F7FA;
}